# npm version コマンドで追加されるコミットメッセージの設定
message="build: bump up version to %s"

@koumatsumoto:registry=https://npm.pkg.github.com/

# ${NPM_AUTH_TOKEN} の部分はnpmの実行時に同名の環境変数で置換される
# $NPM_AUTH_TOKEN の環境変数には、GitHub Access Tokenを設定しておく
//npm.pkg.github.com/:_authToken=${NPM_AUTH_TOKEN}
